<h2>Welcome to the {{title}}.</h2>

<h4>Here is a list of cities you might want to pick from:</h4>

<!-- Prof. Donham said i simply have to display the usage of *ngFor. So, i used it in the context of showing a list
     of sample cities and not in the context of my API response. He said in lecture this is absolutely fine.
     I'm putting this note here since i don't want to get points off for not following the PS7 instructions exactly. -->
<ul *ngFor="let location of locations">
  <li>{{location.name }}</li>
</ul>


<app-parent></app-parent>
